:root {
  --white-color: #fff;
  --text-color: #666E84;
  --accent-color: #FCC55E;

  --main-color: #1E2538;
  --neon-white: #F5FAFB;
  --border-color: #C8CDD9;
  --main-turquoise: #00B0B9;

  --header-height: 42px;
  --footer-height: 70px;

  --border-radius: 10px;
  --screen-width: 650px;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

.main-color {
  color: var(--main-color);
}